#welcome{
    font-family: Verdana;
    padding-top: 300px;
}

#name {
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    position: relative;
}

@keyframes moveToRight {
    from {
        left: 0;
    }
    to {
        left: -700px; /* Adjust the distance as needed */
    }
}

.input-move {
    animation: moveToRight 0.5s ease forwards; 
}

@keyframes moveToLeft {
    from {
        left: -700px; /* Adjust the distance to match the previous animation */
    }
    to {
        left: 0; /* Return to the original position */
    }
}

.input-moveBack {
    animation: moveToLeft 0.5s ease forwards;
}

#hpage{
    /* background-color: rgb(82, 161, 187);
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    width: 100%;
    height: 950px */

}

body {
    background-image: url("sky-clouds.gif");
    background-size: cover; /* Adjust the size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    animation: infiniteBackground 10s linear infinite; /* Set the animation */
}
