#welcome{
    font-family: Verdana;
    padding-top: 300px;
}

#name{
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
}

#hpage{
    background-color: rgb(82, 161, 187);
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    width: 100%;
    height: 950px

}